
<form (ngSubmit)="submit()" #f="ngForm">
    {{ shoe | json}}
    <div class="form-group">
        <label for="brand">Brand</label>
        <select id="brand" class="form-control" [(ngModel)]="shoe.brandId" name="shoeBrand" required #brand="ngModel">
            <option value=""></option>
            <option *ngFor="let b of brands" value="{{ b.id }}">{{ b.name }}</option>
        </select>
    </div>
    <div class="alert alert-danger" *ngIf="brand.touched && !brand.valid">Please specify the brand.</div>

    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" [(ngModel)]="shoe.name" name="shoeName" required #name="ngModel" />
    </div>
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please specify the name.</div>

    <div class="row">
        <div class="col-sm-3">
            <div *ngFor="let s of styles" class="form-check">
                <label class="form-check-label" for="style-{{ s.id }}">
                    <input class="form-check-input" id="style-{{ s.id }}" type="checkbox" value="{{s.id}}"
                           (change)="onStyleToggle(s.id, $event)"
                           [checked]="shoe.styles.includes(s.id)">
                    {{s.name}}
                </label>
            </div>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let c of colors" class="form-check">
                <label class="form-check-label" for="color-{{ c.id }}">
                    <input class="form-check-input" id="color-{{ c.id }}" type="checkbox" value="{{c.id}}"
                           (change)="onColorToggle(c.id, $event)"
                           [checked]="shoe.colors.includes(c.id)">
                    {{c.name}}
                </label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    <button *ngIf="shoe.id"
            type="button" class="btn btn-danger" (click)="delete()">Delete</button>
</form>

<app-shoe-color-form [colors]="colors"></app-shoe-color-form>