<h1>Shoes</h1>
<div>

    <!-- Nav tabs -->
    <ngb-tabset>
        <ngb-tab title="Shoe">
            <ng-template ngbTabContent>
                <div *ngIf="shoe">
                    <h4>Basics</h4>
                    <ul>
                        <li><b>Shoe:</b> {{ shoe.name }}</li>
                        <li><b>Brand:</b> {{ shoe.brand.name }}</li>
                    </ul>
                    <h4>Styles</h4>
                    <ul>
                        <li *ngFor="let s of shoe.styles">{{ s.name }}</li>
                    </ul>
                    <h4>Colors</h4>
                    <ul>
                        <li *ngFor="let c of shoe.colors">{{ c.name }}</li>
                    </ul>
                    <br />
                    <p>
                        <a class="btn btn-primary" [routerLink]="['/shoes/edit/', shoe.id]">Edit</a>
                        <button class="btn btn-danger" (click)="delete()">Delete</button>
                        <a class="btn btn-outline-secondary" [routerLink]="['/shoes']">View All Shoes</a>
                    </p>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Photos</ng-template>
            <ng-template ngbTabContent>
                <p>Photos TAb</p>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

