
.shadow {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.scroll {
    height: 83vh;
    overflow-y: scroll;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.half-width {
    width: 50%;
}
