<app-filter-bar></app-filter-bar>
<div class="container-fluid marg-top"> 
    <div class="row">
        <div class="col-sm-6 no-padding">
            <app-google-map></app-google-map>
        </div>
        <div class="col-sm-6 no-padding scroll">
            <div *ngFor="let h of houses.items; let i = index">
                <div class="card-group" *ngIf="i % 2 === 0">
                    <app-house-thumbnail  
                                         class="card text-white shadow" [house]="houses.items[i]" [routerLink]="['/houses/', h.id]"></app-house-thumbnail>
                    <app-house-thumbnail *ngIf="houses.items[i + 1] !== undefined"
                                         class="card text-white shadow" [house]="houses.items[i + 1]" [routerLink]="['/houses/', h.id]" ></app-house-thumbnail>
                    <div class="card" *ngIf="houses.items[i + 1] === undefined"></div>
                </div>
            </div>
            <pagination [total-items]="houses.totalItems" [page-size]="6" (page-changed)="onPageChange($event)"></pagination>
        </div>
    </div>
</div>


