<div class="container-fluid no-padding">
    <div class="row ">
        <div class="col-sm-5">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Min" name="min">
            </div>
        </div>
        <span class="no-padding">
            <span class="dash"></span>
        </span>

        <div class="col-sm-5">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Max" name="max">
            </div>
        </div>
    </div>
</div>